%h1 Listing diary_comments

%table
  %thead
    %tr
      %th User
      %th Diary
      %th Content
      %th
      %th
      %th

  %tbody
    - @diary_comments.each do |diary_comment|
      %tr
        %td= diary_comment.user
        %td= diary_comment.diary
        %td= diary_comment.content
        %td= link_to 'Show', diary_comment
        %td= link_to 'Edit', edit_diary_comment_path(diary_comment)
        %td= link_to 'Destroy', diary_comment, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Diary comment', new_diary_comment_path
