%p#notice= notice

%p
  %b User:
  = @diary_comment.user
%p
  %b Diary:
  = @diary_comment.diary
%p
  %b Content:
  = @diary_comment.content

= link_to 'Edit', edit_diary_comment_path(@diary_comment)
\|
= link_to 'Back', diary_comments_path
