= simple_form_for(@company, url: backoffice_companies_path, html: {class: 'form-horizontal'}, defaults: { wrapper_html: { class: 'col-lg-12' } }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :email, required: true, autofocus: true
    = f.input :password, required: true
    = f.input :password_confirmation, required: true
    = f.input :name, required: true

  .form-actions
    = f.button :submit
