%h1 Listing user_coupons

%table
  %thead
    %tr
      %th User
      %th Coupon
      %th Point
      %th
      %th
      %th

  %tbody
    - @user_coupons.each do |user_coupon|
      %tr
        %td= user_coupon.user
        %td= user_coupon.coupon
        %td= user_coupon.point
        %td= link_to 'Show', user_coupon
        %td= link_to 'Edit', edit_user_coupon_path(user_coupon)
        %td= link_to 'Destroy', user_coupon, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New User coupon', new_user_coupon_path
