= simple_form_for(@order) do |f|
  = f.error_notification

  .form-inputs
    = f.input :user_id
    = f.input :state
    = f.input :shipment_state
    = f.input :payment_state
    = f.input :item_count
    = f.input :item_total
    = f.input :shipment_total
    = f.input :payment_total
    = f.input :tax_total
    = f.input :total

  .form-actions
    = f.button :submit
