.panel.panel-warning
  .panel-heading
    %h2.panel-title 注文一覧
  .panel-body
    %div
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th 注文番号
            %th 商品個数
            %th 商品料金
            %th 配送料金
            %th 支払い手数料金
            %th 税金
            %th 総計
            %th 支払状況
            %th 配送状況
            %th
            %th
            %th

        %tbody
          - @orders.each do |order|
            %tr
              %td= order.id
              %td= order.item_count
              %td= number_to_currency(order.item_total, locale: :ja)
              %td= number_to_currency(order.shipment_total, locale: :ja)
              %td= number_to_currency(order.payment_total, locale: :ja)
              %td= number_to_currency(order.tax_total, locale: :ja)
              %td= number_to_currency(order.total, locale: :ja)
              %td= order.payment_state_i18n
              %td= order.shipment_state_i18n
              %td= link_to '詳細', [:admin, order]
      = paginate @orders
