-if notice
  %p.alert.alert-dismissible.alert-success#notice= notice

.panel.panel-info.col-md-12
  .panel-body.col-md-4
    .panel.panel-info
      .panel-heading
        %h2.panel-title 登録情報
      .panel-body
        %div
          %label 名前
          %p= current_user.name
        %div
          %label 郵便番号
          %p= current_user.zipcode
        %div
          %label 住所
          %p= current_user.address
  .panel-body.col-md-4
    .panel.panel-info
      .panel-heading
        %h2.panel-title メニュー
      .panel-body
        %p= link_to "登録情報を変更する", edit_user_registration_path
        %p= link_to "注文履歴を見る", orders_path
        %p= link_to "日記を書く", new_diary_path
