-if notice
  %p.alert.alert-dismissible.alert-success#notice= notice

.panel.panel-info.col-md-12
  .panel-body.col-md-4
    .panel.panel-info
      .panel-heading
        %h2.panel-title 登録情報
      .panel-body
        %div
          %label= User.human_attribute_name(:name)
          %p= current_user.name
        %div
          %label= User.human_attribute_name(:zipcode)
          %p= current_user.zipcode
        %div
          %label= User.human_attribute_name(:address)
          %p= current_user.address
        %div
          %label= "現在の#{UserPoint.human_attribute_name(:point)}"
          %p= user_point_total
  .panel-body.col-md-4
    .panel.panel-info
      .panel-heading
        %h2.panel-title メニュー
      .panel-body
        %p= link_to "登録情報を変更する", edit_user_registration_path
        %p= link_to "注文履歴を見る", orders_path
        %p= link_to "日記を書く", new_diary_path
        %p= link_to "クーポン一覧を見る", coupons_path
        %p= link_to "ポイント履歴を見る", points_path
