%h1 Listing coupons

%table
  %thead
    %tr
      %th String
      %th Integer
      %th
      %th
      %th

  %tbody
    - @coupons.each do |coupon|
      %tr
        %td= coupon.string
        %td= coupon.integer
        %td= link_to 'Show', coupon
        %td= link_to 'Edit', edit_coupon_path(coupon)
        %td= link_to 'Destroy', coupon, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Coupon', new_coupon_path
