%table.table.table-striped.table-hover
  %thead
    %tr
      %th 商品名
      %th 画像
      %th 価格
      %th 数量

  %tbody
    - @order.line_items.includes(:product).each do |line_item|
      %tr
        %td= line_item.product.name
        %td= image_tag(line_item.product.img_filename, class: 'img-thumbnail', alt: "#{line_item.product.name}", size: "100x100")
        %td= line_item.product.price
        %td= line_item.quantity
