-if notice
  %p.alert.alert-dismissible.alert-success#notice= notice

.panel.panel-info
  .panel-heading
    %h2.panel-title カート
  .panel-body
    - if @order.line_items.blank?
      %p 商品は登録されていません
      = link_to '商品一覧を見る', root_path, {class: "bs-component"}
    - else
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th 商品名
            %th 画像
            %th 価格
            %th 数量
            %th

        %tbody
          - @order.line_items.includes(:product).each do |line_item|
            %tr
              %td= line_item.product.name
              %td= image_tag(line_item.product.img_filename, class: 'img-thumbnail', alt: "#{line_item.product.name}", size: "100x100")
              %td= line_item.product.price
              %td= line_item.quantity
              %td= link_to '削除する', destroy_cart_line_item_path(id: line_item.id), method: :delete, data: { confirm: '削除してよろしいですか?' }

      .panel.panel-warning
        .panel-heading
          %h2.panel-title 料金明細
        .panel-body
          %table.table.table-striped.table-hover
            %thead
              %tr
                %th 商品料金
                %th 数量
                %th 配送料
                %th 代引き手数料
                %th 小計
                %th 税金
                %th 合計
                %th

            %tbody
              %tr
                %td= number_to_currency(@order.item_total, locale: :ja)
                %td= @order.item_count
                %td= number_to_currency(@order.shipment_total, locale: :ja)
                %td= number_to_currency(@order.payment_total, locale: :ja)
                %td= number_to_currency(@order.adjustment_total, locale: :ja)
                %td= number_to_currency(@order.tax_total, locale: :ja)
                %td= number_to_currency(@order.total, locale: :ja)

      %p= link_to '注文画面に進む', cart_edit_path, {class: "btn bs-component"}
      %p= link_to '商品一覧を見る', root_path, {class: "btn bs-component"}
