.panel.panel-warning
  .panel-heading
    %h2.panel-title 注文一覧
  .panel-body
    - if @orders.blank?
      %p 注文情報がありません
    - else
      %div
        %table.table.table-striped.table-hover
          %thead
            %tr
              %th= Company.human_attribute_name(:name)
              %th= Order.human_attribute_name(:id)
              %th= Order.human_attribute_name(:item_count)
              %th= Order.human_attribute_name(:item_total)
              %th= Order.human_attribute_name(:shipment_total)
              %th= Order.human_attribute_name(:payment_total)
              %th= Order.human_attribute_name(:tax_total)
              %th= Order.human_attribute_name(:total)
              %th= Order.human_attribute_name(:payment_state)
              %th= Order.human_attribute_name(:shipment_state)
              %th

          %tbody
            - @orders.each do |order|
              %tr
                %td= order.company.name
                %td= order.id
                %td= order.item_count
                %td= number_to_currency(order.item_total, locale: :ja)
                %td= number_to_currency(order.shipment_total, locale: :ja)
                %td= number_to_currency(order.payment_total, locale: :ja)
                %td= number_to_currency(order.tax_total, locale: :ja)
                %td= number_to_currency(order.total, locale: :ja)
                %td= order.payment_state_i18n
                %td= order.shipment_state_i18n
                %td= link_to '注文情報を確認する', order

        = paginate @orders
