%p#notice= notice

%p
  %b Coupon:
  = @coupon_user.coupon
%p
  %b User:
  = @coupon_user.user
%p
  %b Point:
  = @coupon_user.point

= link_to 'Edit', edit_coupon_user_path(@coupon_user)
\|
= link_to 'Back', coupon_users_path
