.row
  .col-lg-6
    .well.bs-component
      = simple_form_for([:admin, @product], html: {class: 'form-horizontal'}, defaults: { label_html: { class: 'col-lg-2' }, wrapper_html: { class: 'col-lg-10' } }) do |f|
        = f.error_notification

        .form-inputs
          = f.input :name, label: '商品名'
          = f.input :img_filename, label: '画像'
          = image_tag(@product.img_filename, class: 'img-thumbnail', alt: "#{@product.name}", size: "250x250")
          = f.input :price, label: '価格', input_html: {min: 1, max: 10000000}
          = f.input :description, label: '説明'
          = f.input :flg_non_display, label: '非表示フラグ'
          = f.input :sort_order, label: '表示順', input_html: {min: 1, max: 10000}

        .form-actions
          = f.button :submit, '登録する'
