= simple_form_for([:admin, @product]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :filename
    = f.input :price
    = f.input :description
    = f.input :flg_non_display
    = f.input :sort_order

  .form-actions
    = f.button :submit
