.panel.panel-info
  .panel-heading
    %h2.panel-title 商品一覧
  .panel-body
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th 商品名
          %th 画像
          %th 価格
          %th 説明
          %th 非表示フラグ
          %th 表示順
          %th
          %th
          %th

      %tbody
        - @products.each do |product|
          %tr
            %td= product.name
            %td
              %img.img-rounded{:src => "https://dummyimage.com/100x100", :alt => "#{product.name}"}
            %td= product.price
            %td= product.description
            %td= product.flg_non_display
            %td= product.sort_order
            %td= link_to 'Show', [:admin, product]
            %td= link_to 'Edit', edit_admin_product_path(product)
            %td= link_to 'Destroy', [:admin, product], method: :delete, data: { confirm: '削除してよろしいですか?' }

%br

= link_to 'New Product', new_admin_product_path
