-if notice
  %p.alert.alert-dismissible.alert-success#notice= notice

.panel.panel-info
  .panel-heading
    %h2.panel-title 商品詳細
  .panel-body
    %table.table.table-striped.table-hover
      %tbody
        %tr
          %td 商品名
          %td= @product.name
        %tr
          %td 画像
          %td= image_tag(@product.img_filename, class: 'img-thumbnail', alt: "#{@product.name}", size: "250x250")
        %tr
          %td 価格
          %td= @product.price
        %tr
          %td 説明
          %td= @product.description
        %tr
          %td 非表示フラグ
          %td= @product.flg_non_display
        %tr
          %td 表示順
          %td= @product.sort_order

%br

= link_to '編集', edit_admin_product_path(@product)
\|
= link_to '商品一覧', admin_products_path
