.content.col-lg-12
  .col-lg-4
    .panel.panel-default
      .panel-body.text-center
        = image_tag(@product.img_filename, class: 'img-thumbnail')
  .col-lg-8
    %h1= @product.name
    .well= simple_format(@product.description)
    %span.lead.price.selling= "価格 #{number_to_currency(@product.price, locale: :ja)}"

    = simple_form_for(@product_stock, url: companies_product_stocks_path(@product), method: :post, html: {class: 'form-horizontal'}, defaults: { wrapper_html: { class: 'col-lg-12' } }) do |f|
      .form-inputs
        = f.input :stock, input_html: {min: 1, max: 99}

      .form-actions
        = f.button :submit

        - unless @product_stock.new_record?
          %button= link_to '削除する', companies_product_stock_path(@product, @product_stock), method: :delete, data: { confirm: '削除してよろしいですか?' }
