.content.col-lg-12
  .col-lg-4
    .panel.panel-default
      .panel-body.text-center
        = image_tag(@product.img_filename, class: 'img-thumbnail')
  .col-lg-8
    %h1= @product.name
    .well= simple_format(@product.description)
    %span.lead.price.selling= "価格 #{number_to_currency(@product.price, locale: :ja)}"

    - product_stocks = @product.product_stocks.includes(:company)
    - if @product.product_stocks.blank?
      %h4 取り扱い会社がありません
    - else
      - order = Order.new
      - order.line_items.build
      = simple_form_for(order, url: carts_path, html: {class: 'form-horizontal'}) do |f|

        = f.error_notification

        = f.input :company_id, collection: product_stocks.map { |product_stock| ["#{product_stock.company.name}(在庫:#{number_with_delimiter(product_stock.stock)}個※数量#{number_with_delimiter(product_stock.company.quantity_per_box)}個毎に送料を追加)", product_stock.company.id] }, as: :radio_buttons

        = f.fields_for :line_items do |line_item|

          = line_item.error_notification

          = line_item.hidden_field :product_id, value: @product.id

          = line_item.input :quantity, input_html: {min: 1, max: 99}

        .form-actions
          = f.button :submit, 'カートに入れる'
