.content.col-lg-12
  -if notice
    %p.alert.alert-dismissible.alert-warning#notice= notice

  .col-lg-4
    .panel.panel-default
      .panel-body.text-center
        = image_tag(@product.img_filename, class: 'img-thumbnail')
  .col-lg-8
    %h1= @product.name
    .well= simple_format(@product.description)
    %span.lead.price.selling= "価格 #{number_to_currency(@product.price, locale: :ja)}"
    - line_item = LineItem.new
    = simple_form_for(line_item, url: cart_path, html: {class: 'form-horizontal'}, defaults: { wrapper_html: { class: 'col-lg-12' } }) do |f|
      = f.hidden_field :product_id, value: @product.id

      .form-inputs
        = f.input :quantity, input_html: {min: 1, max: 99}

      .form-actions
        = f.button :submit, 'カートに入れる'
