%p#notice= notice

%p
  %b String:
  = @product.string
%p
  %b String:
  = @product.string
%p
  %b Integer:
  = @product.integer
%p
  %b Text:
  = @product.text
%p
  %b Boolean:
  = @product.boolean
%p
  %b Integer:
  = @product.integer

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
