.content.col-lg-12
  -if notice
    %p.alert.alert-dismissible.alert-warning#notice= notice

  .col-lg-4
    .panel.panel-default
      .panel-body.text-center
        = image_tag(@product.img_filename, class: 'img-thumbnail')
  .col-lg-8
    %h1= @product.name
    .well= simple_format(@product.description)
    %span.lead.price.selling= "価格 #{number_to_currency(@product.price, locale: :ja)}"

    - if @companies.blank?
      %p 取り扱い会社がありません
    - else
      - order = Order.new
      - order.line_items.build
      = simple_form_for(order, url: carts_path, html: {class: 'form-horizontal'}) do |f|

        = f.error_notification

        = f.input :company_id, collection: @companies.map { |company| ["#{company.name}(在庫:#{number_with_delimiter(company.product_stocks.first.stock)}個)", company.id] }, as: :radio_buttons

        = f.fields_for :line_items do |line_item|

          = line_item.error_notification

          = line_item.hidden_field :product_id, value: @product.id

          = line_item.input :quantity, input_html: {min: 1, max: 99}

        .form-actions
          = f.button :submit, 'カートに入れる'
