%h1 Listing diary_evaluations

%table
  %thead
    %tr
      %th User
      %th Diary
      %th
      %th
      %th

  %tbody
    - @diary_evaluations.each do |diary_evaluation|
      %tr
        %td= diary_evaluation.user
        %td= diary_evaluation.diary
        %td= link_to 'Show', diary_evaluation
        %td= link_to 'Edit', edit_diary_evaluation_path(diary_evaluation)
        %td= link_to 'Destroy', diary_evaluation, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Diary evaluation', new_diary_evaluation_path
