%p#notice= notice

%p
  %b User:
  = @diary_evaluation.user
%p
  %b Diary:
  = @diary_evaluation.diary

= link_to 'Edit', edit_diary_evaluation_path(@diary_evaluation)
\|
= link_to 'Back', diary_evaluations_path
