= simple_form_for(@user_point) do |f|
  = f.error_notification

  .form-inputs
    = f.association :user
    = f.input :user_coupon_id
    = f.input :status
    = f.input :point

  .form-actions
    = f.button :submit
