.panel.panel-warning
  .panel-heading
    %h2.panel-title  クーポン一覧
  .panel-body
    %div
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th クーポン番号
            %th クーポンコード
            %th ポイント
            %th

        %tbody
          - used_coupons = current_user.user_points.pluck(:coupon_id)
          - @coupons.each do |coupon|
            %tr
              %td= coupon.id
              %td= coupon.code
              %td= number_with_delimiter(coupon.point)
              - if used_coupons.include?(coupon.id)
                %td 使用済みです
              - else
                %td= link_to '使用する', edit_coupon_path(coupon)

      = paginate @coupons

%br

= link_to 'マイページ', mypage_path
