.panel.panel-warning
  .panel-heading
    %h2.panel-title  クーポン・ポイント履歴一覧
  .panel-body
    %div
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th ユーザーID
            %th クーポン番号
            %th クーポンタイトル
            %th クーポンコード
            %th ポイント

        %tbody
          - @user_points.each do |user_point|
            %tr
              %td= user_point.user.id
              %td= user_point.coupon.id
              %td= user_point.coupon.title
              %td= user_point.coupon.code
              %td= number_with_delimiter(user_point.point)

      = paginate @user_points
