-if notice
  %p.alert.alert-dismissible.alert-success#notice= notice

.panel.panel-danger
  .panel-heading
    %h2.panel-title ポイント登録
  .panel-body
    %div
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th= User.human_attribute_name(:id)
            %th= User.human_attribute_name(:email)
            %th= User.human_attribute_name(:name)
            %th= UserPoint.human_attribute_name(:point)

        %tbody
          %tr
            %td= @user.id
            %td= @user.email
            %td= @user.name
            %td= @user.user_points.sum("point")

    = render 'form'

%br

= link_to 'ユーザー一覧', backoffice_users_path
