-if notice
  %p.alert.alert-dismissible.alert-success#notice= notice

.panel.panel-danger
  .panel-heading
    %h2.panel-title ユーザー一覧
  .panel-body
    %div
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th ID
            %th メールアドレス
            %th 名前
            %th 郵便番号
            %th 住所
            %th
            %th
            %th

        %tbody
          - @users.each do |user|
            %tr
              %td= user.id
              %td= user.email
              %td= user.name
              %td= user.zipcode
              %td= user.address
              %td= link_to '詳細', [:backoffice, user]
              %td= link_to '編集', edit_backoffice_user_path(user)
              %td= link_to '削除', [:backoffice, user], method: :delete, data: { confirm: '削除してよろしいですか?' }

      = paginate @users
