-if notice
  %p.alert.alert-dismissible.alert-success#notice= notice

.panel.panel-danger
  .panel-heading
    %h2.panel-title ユーザー詳細
  .panel-body
    %table.table.table-striped.table-hover
      %tbody
        %tr
          %th ID
          %th メールアドレス
          %th 名前
          %th 郵便番号
          %th 住所
        %tr
          %td= @user.id
          %td= @user.email
          %td= @user.name
          %td= @user.zipcode
          %td= @user.address

%br

= link_to '編集', edit_backoffice_user_path(@user)
\|
= link_to 'ユーザー覧', backoffice_users_path
